<html lang="en">

<head>
    <meta charset="utf-8">

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Verdana;
        }
        
        #header {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            z-index: 3;
            position: fixed;
            top: 0;
            width: 100%;
            background: #FD62A9;
            color: #000;
            text-align: center;
            -webkit-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
            -moz-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
            box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
            border-bottom: 3px solid #000;
        }
        
        .parallax {
            position: relative;
            z-index: 1;
            height: 450px;
            -webkit-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
            -moz-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
            box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
        }
        
        #trans1 {
            background: url('https://www.cem.org/hubfs/blog/Blog-10-essential-reads-to-improve-reading-comprehension.jpg') no-repeat fixed;
            height: 575px;
            background-position: center top;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        #trans2 {
            background: url('https://miro.medium.com/max/1400/1*BZ_3cNMpNPHlMOIy1ELjkQ.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        #trans3 {
            background: url('https://www.pewresearch.org/wp-content/uploads/2019/09/FT_19.09.24_BookReading_feature.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 550px;
        }
        
        #trans4 {
            background: url('https://wallpaperaccess.com/full/1692725.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 550px;
        }
        
        .txt {
            font-family: 'Niconne', cursive;
            font-size: 55px;
            color: #000;
            width: auto;
            background: #FD62A9;
            background: rgba(255, 102, 153, 0.60);
            padding: 5px 10px;
        }
        
        .txt.right {
            margin: 150px 100px 0 0;
            float: right;
            text-align: right;
        }
        
        .txt.left {
            float: left;
            text-align: left;
            margin: 150px 0 0 100px;
        }
        
        .txt.sub {
            font-size: 50px;
            line-height: 175%;
            font-weight: lighter;
            letter-spacing: 1.5px;
            background: #000;
            background: rgba(0, 0, 0, 0.60);
            font-size: 25px;
            color: #ccc;
            margin: 0 100px 0 100px;
        }
        
        .content {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            position: relative;
            z-index: 2;
            background: #FFF;
            width: 100%;
            margin: 0;
            padding: 10px 20px;
            -webkit-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
            -moz-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
            box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
            text-align: left;
        }
        
        .content.right {
            text-align: right;
        }
        
        .content h2 {
            padding: 0 25px;
        }
        
        .content p {
            padding: 0 50px;
            font-size: 33px;
        }
    </style>
</head>

<body>
    <div id="header">
        <h1 style="padding:0;margin:0;">Bienvenue dans le site Web <br> "README"</h1>
    </div>
    <div class="parallax" id="trans1">
        <div class="txt right">
            &#10085;Lire<br/> ou ecrire
            <br/> les romans&#10085;
        </div>
        <div style="clear:both;"></div>
        <div class="txt right sub">
            “Une heure de lecture est le souverain remède contre les dégoûts de la vie.”<br/>
        </div>
    </div>

    <div class="parallax" id="trans2">
        <div class="txt left">
            Question et réponses :
        </div>
        <div style="clear:both;"></div>
        <div class="txt left sub">
            De quoi s'agit ce site ? :

        </div>
    </div>

    <div class="content right">

        <p>
            - Si vous aimez lire des romans, alors ce site Web est ce dont vous avez besoin, car ce site Web vous permet de trouver tous les types de romans que vous aimez, romans d'aventure, d'histoire, d'éducation, de théâtre ... Mais vous ne pouvez pas seulement
            lire , vous pouvez aussi écrire vos romans personnels ! si vous êtes doué pour l'écriture, alors faites savoir au monde votre grand talent !
        </p>
        <div style="clear:both;"></div>
    </div>



    <div class="parallax" id="trans3">
        <div class="txt left">
            Question et réponses :
        </div>
        <div style="clear:both;"></div>
        <div class="txt left sub">
            Est ce qu'il est facile d'utiliser ce site ? :
        </div>
    </div>

    <div class="content left">

        <p>
            - Il n'y pas un site plus facile que notre site ! il suffit de creer un compte pour bénéficier par le contenu du site (lire ou ecrire des romans), le lien de creation du compte est au bas du page !
        </p>
        <div style="clear:both;"></div>
    </div>









    <div class="parallax" id="trans4">
        <div class="txt left">
            Question et réponses :
        </div>
        <div style="clear:both;"></div>
        <div class="txt left sub">
            Comment créer mon compte ?
        </div>
    </div>

    <div class="content left">

        <p>
            => L'accer ou la creation du compte se fait par les liens ci dessous : <br>


            <a href="http://localhost:27017/register" target="sign up formulaire.html">Cliquer ici pour creer votre compte</a> <br>
            <a href="http://localhost:27017/signin" target="sign in formulaire.html">Vous êtes dejâ inscrit ? connecter a mon compte </a>
        </p>
        <div style="clear:both;"></div>
    </div>



</html>