<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="design sign up.css">
    <script src="verification3.js"></script>
    <style>
        .t1 {
            text-align: center;
            font-size: 66px;
            color: white;
        }
        
        form {
            color: white;
            font-size: 33px;
        }
    </style>




</head>

<body>

    <div class="t1">modification du profile</div>


    <div class="form">
        <form name="p" onsubmit="return verification3()" action="" method="">
            <input name="nom" type="text" placeholder="Nouveau nom "><br>
            <input name="prenom" type="text" placeholder="Nouveau prenom "><br>
            <input name="mot_de_passe_actuelle" type="password" placeholder="Mot de passe actuelle"><br>
            <input name="mot_de_passe" type="password" placeholder="Nouvell mot de passe"><br>
            <input name="retype" type="password" placeholder="Retapez la novelle mot de passe">
            <button type="submit">Enregistrer</button>
        </form>
    </div>



</body>

</html>