<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <style>
        .form {
            background: #ffffff;
            padding: 50px;
            margin-top: 14%;
            margin-right: 30%;
            margin-left: 30%;
            box-shadow: 15px 15px #000000;
        }
        
        .form input {
            font-family: 'Times New Roman', Times, serif;
            outline: 4;
            background: #f5f1f1;
            width: 90%;
            border: 0;
            margin: 0 0 20px;
            padding: 20px;
            font-size: 26px;
        }
        
        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #4CAF50;
            width: 40%;
            border: 0;
            padding: 16px;
            color: #FFFFFF;
            font-size: 17px;
            cursor: pointer;
            margin-left: 30%;
        }
        
        #p1 {
            font-size: 20px;
        }
        
        body {
            background: linear-gradient(0.25turn, blue, brown, pink);
        }
    </style>

    <script language="javascript">
        function validation() {

            var test = true;

            if (document.p.mail.value == "")

            {
                alert("le champ adress mail ne doit etre vide !");
                test = false;
            } else

            if (document.p.mot_de_passe.value == "") {
                alert("le champ mot de passe de doit etre vide !");
                test = false;
            }



            return test;

        }
    </script>


</head>

<body>


    <div class="form">
        <form name="p" onsubmit="return validation()" action="/signin" method="post">
            <input name="mail" type="email" placeholder="Tapez votre email ici "><br>
            <input name="mot_de_passe" type="password" placeholder="Tapez votre mot de passe ici "><br>
            <button type="submit">SIGN in</button>
        </form>
    </div>




    </form>

</body>

</html>